<section>
<h1>Add somethin</h1>
  <div class="form-group">
    <label for="item-name">Name</label>
    <input type="text" id="item-name" name="item-name">
  </div>

  <button id="add" type="submit">Add</button>
</section>

<section>
<h1>Reading List</h1>

<ul>
  {{#each items}}
    {{#unless sleepy}}
      {{> items/item-li isComplete=false}}
    {{/unless}}
  {{/each}}
</ul>
</section>

<section>
<h1>Recent reads</h1>
<ul>
  {{#each items}}
    {{#if sleepy}}
      {{> items/item-li isComplete=true}}
    {{/if}}
  {{/each}}
</ul>
</section>